$menu-background: #f3f3f3;
$logo-img-folder: 'images';

.navigation {
  z-indez: 1000;
  width: 100%;
  top: 0;
  //position: fixed;
  font-family: "Open Sans", sans-serif;
}

.logo {
  background-image: url('/#{$logo-img-folder}/logo.png');
  width: 12rem;
  height: 2.7rem;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.toggle {
  line-height: 3rem;
  padding: 0 0.5rem 0.3rem 0.5rem;
  background-color: darken($menu-background, 81%);

  .menu-icon {
    margin-top: 0.5rem;

    &:focus {
      outline-style: none;
    }

    &:after {
      width: 1.2rem;
    }
  }

  .title-bar-title {
    margin-left: 1.8rem;
  }

  .small-logo {
    padding-bottom: 0.5rem;
    display: inline-block;
    height: 2.7rem;
    width: 2.7rem;
  }
}

.top-bar {
  background-color: $menu-background;

  .menu {
    background-color: $menu-background;

    li {
      color: #031929;

      a {
        color: #031929;
        text-decoration: none;
        @include breakpoint(medium only) {
          font-size: 0.6rem;
        }

        &.hover {
          color: #3b3b3b;
        }

        &.focus {
          outline-style: none;
        }
      }
    }
  }

  .top-bar-left {
    ul.dropdown.menu {
      .sub {

        @include breakpoint(small only){
          width: 100% !important;
        }

        li {
          border-bottom: 1px dotted #ccc;

          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      @include breakpoint(small only){
        text-align: left;
      }
    }
  }

}
